/*import des fonts google*/
@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
	--couleurPrincipale: #7e4a7c ;
	--couleurSecondaire: #b878b5 ;
}
html {
    font-size:62.5%;
}

body * {
    box-sizing:border-box;
}
body {
    margin:0;
    font-size:1.6rem;
    font-family: 'Open Sans', sans-serif;
	color: #363535;
    
}
.container {
    max-width:1170px;
    margin: 0 auto;
}
h1, h2, h3, nav, .more, button {
    font-family: 'Economica', sans-serif;
}


h1 {
	margin-top: 5rem;
	margin-bottom: 8rem;
	font-size: 5rem;
	color: var(--couleurPrincipale);
	text-align: center;
}

h2 {
	margin-bottom: 4rem;
	font-size: 4rem;
	color: var(--couleurSecondaire);
}
h3 {
	margin-top: 0rem;
	margin-bottom: 2.5rem;
	font-size: 3rem;
	color: var(--couleurPrincipale);
}

.chapo {
    font-style:italic;
    font-weight:bold;
	color: var(--couleurPrincipale);
}
p {
	margin-top: 0rem;
	margin-bottom: 2rem;
	line-height: 1.3;
}

/******************************************************************
HEADER
******************************************************************/
header {
    text-align:center;
    border-top:5px solid var(--couleurPrincipale);
    padding-top:5rem;
}
nav ul {
    display:flex;
    justify-content: space-evenly;
    list-style:none;
	background-color: var(--couleurPrincipale);
	margin: 5rem 0;
	padding: .5rem 0;
}
nav a {
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    padding:1rem 2.5rem;
    display:inline-block;
}
nav a:hover {
	background-color: #fff;
	color: var(--couleurPrincipale);
}
/******************************************************************
MAIN
******************************************************************/

.about {
    display:flex;
}
.about article {
    width:70%;
}
.about aside {
    width:30%;
    padding-top:8rem;
    margin-left:2rem;
}
.about img {
    float:left;
    margin-right:2rem;
}
.more {
	background-color: var(--couleurPrincipale);
	color:#fff;
	text-decoration:none;
	font-size: 2rem;
	text-transform: uppercase;
	padding: 1.5rem 2rem;
	display: inline-block;
}
.more:hover {
	background-color: var(--couleurSecondaire);
}

.about ul {
	padding:0;
	list-style:none;
}
.about li {
	margin-bottom:2rem;
}
.about li::before {
	padding-right:1rem;
	content:url(../img/puce-fleche.png);
}


/******************************************************************
STAFF
******************************************************************/
.flex {
	display:flex;
	flex-wrap:wrap;
	
}
.flex figure {
	width:48%;
	margin:0 0 5rem 0;

}
.flex img {
	float:left;
	margin:2rem;
	border-radius: 50%;
    border: solid 2px var(--couleurSecondaire);
}



/******************************************************************
TABLEAU
******************************************************************/

table {
	width:90%;
	border-collapse: collapse;
	margin:0 auto;
}
th {
	background-color: var(--couleurPrincipale);
	color:#fff;
}
th, td {
	border: 1px solid var(--couleurSecondaire);
	text-align:center;
	padding:1.5rem 2rem;
}
td:empty {
	background-color: #ffeefe;
}
td:first-of-type {
	font-weight:bold;
}
tr:hover {
	background-color: var(--couleurSecondaire) !important;
	color:#fff
}

/******************************************************************
FORMULAIRE
******************************************************************/

form {
	color: var(--couleurPrincipale);
	border: 1px  solid var(--couleurPrincipale);
	font-weight:bold;
	padding:2rem;
}
fieldset {
	border:0;
	padding:0;
	display:flex;
	justify-content:space-around;
	background-color: #ffeefe;
	padding:3rem;
	margin-bottom:2rem;
}
input, select {
	border : 1px solid var(--couleurSecondaire);
	padding:0.5rem;
}

.submit {
	text-align: center;
}
button {
	border:none;
	background-color: var(--couleurPrincipale);
	color:#fff;
	font-size:2.5rem;
	text-transform:uppercase;
	padding:1rem;
	cursor:pointer;
}
button:hover {
	background-color: #fff ;
	color:var(--couleurPrincipale);
}

/******************************************************************
FOOTER
******************************************************************/

footer {
	background-color: var(--couleurPrincipale);
	margin-top:7rem;
}
footer .container {
	padding:3rem;
	text-align:center;
}
footer a {
	font-size:3rem;
	margin:0 2rem;
	color:#fff;
	text-decoration:none;
}
.footer {
	padding:2rem;
	text-align:center;
	background-color: #444;
	color:#fff;
}
.footer a {
	color:#fff;
}
.footer img {
	width:50px;
}